<header>
    <button class="toggle" onclick="toggleNavbar(this)">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </button>
    <nav class="navbar">
        <ul>
            <li>
                <form action="/" method="get">
                    <button class="nav-button home-btn">Home</button>
                </form>
            </li>
            <li>
                <form action="/create" method="get">
                    <button class="nav-button create-btn">Add Anime Date</button>
                </form>
            </li>
            <li>
                <form action="/add-genre" method="get">
                    <button class="nav-button add-genre-btn">Add Genre</button>
                </form>
            </li>
        </ul>
      </nav>
</header>