<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Anime List</title>
  <link rel="stylesheet" href="/css/listAnime.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/animeCard.css">
</head>
<body>
  <%- include("./partials/header.ejs") %> 
  <h1 style="text-align: center;">List Anime Collections</h1>
  <div class="container">
    <ul class="anime-info">
        <% if (locals.animeSeries && locals.animeSeries.length > 0) { %> 
          <%- include("./partials/animeData.ejs", { data: locals.animeSeries }) %>
          <div class="page-nav">
            <a href="/collection/<%= locals.prevPage %>">previous</a>
            <a href="/collection/<%= locals.nextPage %>">next</a>
          </div>
        <% } else { %>
          <h1 style="text-align: center; line-height: 50vh; color: red; font-size: xx-large;">No collections to show</h1> 
        <% } %>
    </ul>
  </div>
</body>
</html>
